<?xml version="1.0"?>
<!--
* This file is part of Zepgram\Fasterize\etc
*
* @package    Zepgram\Fasterize\etc
* @file       di.xml
* @date       11 09 2019 10:28
*
* @author     Benjamin Calef <zepgram@gmail.com>
* @copyright  2019 Zepgram Copyright (c) (https://github.com/zepgram)
* @license    MIT License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Zepgram\Fasterize\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">var/log/zepgram/fasterize.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Zepgram\Fasterize\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Zepgram\Fasterize\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Zepgram\Fasterize\Http\PurgeRequest">
        <arguments>
            <argument name="logger" xsi:type="object">Zepgram\Fasterize\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Zepgram\Fasterize\ViewModel\Cache">
        <arguments>
            <argument name="logger" xsi:type="object">Zepgram\Fasterize\Logger\Logger</argument>
        </arguments>
    </type>
</config>
